.ThicknessContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    width: 600px;
    justify-content: center;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 75px;
  }
  .DataHeading {
    width: 200px;
    font-size: small;
  }

  .DataHeadingData {
    width: 100px;
    font-size: small;
    
    
  }
  .ActionButton {
    width: 10px;
    font-size: small;
    background-color: blue;
    color: bisque;
    border-radius: 5px;
    margin-right: 3px;
  }
  .ActionButton1 {
    width: 60px;
    font-size: small;
    background-color: blue;
    color: bisque;
    border-radius: 5px;
    margin-right: 3px;
  }
  