.FileLoadContainer {
    width: 98%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
    background-color: #fff;
    height: calc(100vh - 150px);
}

.fileLoads {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.StockInput {
   
    color: blue;
    /* display: none; 
    background-color: blueviolet; */
    border-radius: 10px;
    padding: 5px 10px;
    width: 350px;
    font-size: 15px;
    height: 30px;
    border: black solid;
}
.fileDetails{
    display: flex;
    gap: 10px;
}
.StockButton {
    
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    width: 100px;
    margin-top: 10px;

}
.FileSelection {
    
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
    width: 150px;
    
    border: black solid;

}

.InsertArea, .PrintStock{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}
